.top{
        background-color: #0066ff;
        color: black;
        width: 100%;
        border: 5px solid black;
        height: 25px;
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 10px;
        padding-bottom: 40px;
        margin-left: .001px;
        margin-bottom: 0px;
        margin-right: 5px;
        margin-top: 0px;
        content: 10px;
        font-family:"Times New Roman", Times, serif;

}
.topnav {
overflow: hidden;
background-color: #ffffff;
}
.topnav a {
float: left;
display: block;
color: #000000;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.topnav a:hover {
background-color: #0a6a8a;
color: yellow;
}

